@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


body {
    background-color: #fcfbfb; 

    font-size: 16px;
    margin: 0;
    padding: 0;
    
}
h2{
    margin: 0;

}
header {
    padding-top: 5px;
    text-align: center;
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
    max-width: 0.5em;
    max-height: 0.5em;

}

nav{

  line-height: 3em;
  text-align: center;
  font-size: 1.0em;

}        

.icon {
    padding-top: 10px;
    width: 50px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a {

    text-align: center;
    padding: 2em;
    min-width: 150px;
    text-decoration: none;
    color: #fb5607;

      }



#hero-box{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-decoration: none;

    text-align: center;
}

main section{
text-align: center;
}

#background {
    height: 100px;

}

#mountains {

    text-align: center;
}
           
.book{
    margin-top: 50px;
    font-size: 1em;
    height: 100px;
    text-decoration: none;
    padding:0.5em;
    min-width: 150px;
    color:#8338ec
}

.join{
    margin-top: 50px;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.2em;
    color :#ffbe0b
}

.book:hover{
    padding: 0.5em;
    color: #ffffff;
    background-color:#8338ec
}

.join:hover{
    color: #ffffff;
    background-color:#8338ec
    
}

.msg{
    margin: 0 auto;
    color: #ffffff;
    background-color: #8338ec;
    line-height: 1.2em;
    padding :1em
}

.msg h2{

}

.msg p{
    padding-bottom: 15px;
}

footer{
    margin-top: 50px;
    padding: 25px ,50px;
    background-color:rgba(28, 41, 18, 0.7);
    text-wrap: balance;
    text-align: left;
    
    background-color:#ffffff;

}

header img{
    max-width: 170px;
    max-height: 170px;
    padding: 2em;
}

footer a{
    color: #3a86ff;
    text-decoration: none;


}

footer .social img{
    padding-top: 15px;
}

.home-title{
    
    margin-top: 10px;
}

.rivers-card{
    margin: 100px 0;
}

.camping-card{
    margin: 100px 0;
}

.rapids-card {
    margin: 100px 0;
}


.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
            